<!--  Replace menu links here -->

<!-- the loc variable is passed from default.html through the include statement  -->
{% assign strings = site.data.translations.strings[loc] %}

<div class="container">
    <nav class="navbar nav-justified navbar-expand-lg navbar-light bg-white">
        <div class="navbar-nav">
            <div class="row justify-content-start">
                {% include custom/feed.html %}
                {% include custom/lang-switcher.html %}
                <div class="col-auto">
                    {% include search-lunr.html %}
                </div>
            </div>
        </div>
    </nav>
</div>


<div class="container">
    <nav class="navbar nav-justified navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}index.html"><strong>{{site.name}}</strong></a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div class="row justify-content-start">
                    <div class="col-sm-auto">
                        <a class="nav-item nav-link" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}index.html">Home <span class="sr-only">(current)</span></a>
                    </div>
                    <div class="col-sm-auto">
                        <a class="nav-item nav-link" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}categories.html">{{ strings.categories }}</a>
                    </div>
                    <div class="col-sm-auto">
                        <a class="nav-item nav-link" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}tags.html">{{ strings.tags }}</a>
                    </div>
                    <div class="col-sm-auto">
                        <a class="nav-item nav-link" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}authors-list.html">{{ strings.authors }}</a>
                    </div>
                    <div class="col-sm-auto">
                        <a class="nav-item nav-link" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}authors-list.html">{{ strings.contact }}</a>
                    </div>
                    <div class="col-sm-auto">
                        <a class="nav-item nav-link" href="{{site.baseurl}}/{% if loc != site.default_locale %}{{ loc}}/{% endif %}authors-list.html">{{ strings.privacy }}</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>


<!-- ATOM feed -->
{% comment %}
{% include custom/feed.html %}
{% endcomment %}

<!-- Lang Switcher -->
{% comment %}
{% include custom/lang-switcher.html %}
{% endcomment %}
